extends ../layout

block content
    table(align="center" valign="top" width="600" style="")
        tbody
            tr
                td(align="center" valign="top" style="padding-bottom: 30px;")
                    a(href="http://s.godo.kr/k28m" target="_blank")
                        img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/logo.png" width="110")
            tr
                td(align="center" valign="top" style="padding-bottom: 20px;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://s.godo.kr/k27t" target="_blank")
                                    img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/newsletter/202005/brand.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px; padding-top: 5px;")
                                a(href="http://s.godo.kr/k28s" target="_blank" style="text-decoration: none; color: orange;") 종합그래픽 
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px; padding: 10px 0;")
                                a(href="http://s.godo.kr/k27t" target="_blank" style="text-decoration: none; color: #000;") BranD vol.48 :Limited Printing：Designers Printing Press 
                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://s.godo.kr/k27t" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") BranD vol.48의 주제는 'Limited Printing：Designers Printing Press'입니다. 

            tr
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://s.godo.kr/k27x" target="_blank")
                                    img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/newsletter/202005/brand2.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px; padding-top: 5px;")
                                a(href="http://s.godo.kr/k28s" target="_blank" style="text-decoration: none; color: orange;") 종합그래픽
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px; padding: 10px 0;") 
                                a(href="http://s.godo.kr/k27x" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") Brand! VOL.10

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://s.godo.kr/k27x" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") 수상작 모음집으로 제품 디자인 모든 분야의 훌륭한 디자인을 만나보실 수 있습니다. 
            tr
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://s.godo.kr/k281" target="_blank")
                                    img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/newsletter/202005/color.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px; padding-top: 5px;")
                                a(href="http://s.godo.kr/k28s" target="_blank" style="text-decoration: none; color: orange;") 종합그래픽 
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px; padding: 10px 0;") 
                                a(href="http://s.godo.kr/k281" target="_blank" style="text-decoration: none; color: #000;") COLORS PERFECT 

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://s.godo.kr/k281" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;")
                                    | 컬러 매칭에 대한 기본 지식과 창작을 위한 실질적인 참고 자료로 톤을 아주 교모하게 이용한 디자인 작품을 소개하고
                                    | 순식간에 이미지를 전달하여 소비자의 마음을 사로잡는 아이디어가 가득합니다. 
            tr
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://s.godo.kr/k285" target="_blank")
                                    img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/newsletter/202005/back.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px; padding-top: 5px;")
                                a(href="http://s.godo.kr/k28u" target="_blank" style="text-decoration: none; color: orange;") 제품, 가구디자인
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px; padding: 10px 0;") 
                                a(href="http://s.godo.kr/k285" target="_blank" style="text-decoration: none; color: #000;") BACK TO THE ESSENCE 

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://s.godo.kr/k285" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") 한계라 불릴 정도로 디자인 요소를 배제, 핵심 정보만을 선명하게 추출한 디자인북 입니다. 
            tr
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://s.godo.kr/k289" target="_blank")
                                    img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/newsletter/202005/2020.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px; padding-top: 5px;")
                                a(href="http://s.godo.kr/k28v" target="_blank" style="text-decoration: none; color: orange;") 건축/인테리어
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px; padding: 10px 0;") 
                                a(href="http://s.godo.kr/k289" target="_blank" style="text-decoration: none; color: #000;") 2020 Annual Interior Detail no.31, no.32 

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://s.godo.kr/k289" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") 
                                    | 카페, 레스토랑, 클럽, 라운지, 호텔, 문화,
                                    | 교육, 주거, 상업, 업무. 쇼룸, 의료 공간을 주제로 다양한 국내 실내공간 인테리어 사례를 도면과 함께 소개하고 있습니다. 
            tr 
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://s.godo.kr/k28a" target="_blank")
                                    img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/newsletter/202005/apd.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px; padding-top: 5px;")
                                a(href="http://s.godo.kr/k28s" target="_blank" style="text-decoration: none; color: orange;") 종합그래픽 
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px; padding: 10px 0;") 
                                a(href="http://s.godo.kr/k28a" target="_blank" style="text-decoration: none; color: #000;") APD Asia-Pacific Design No.15 

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://s.godo.kr/k28a" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") 
                                    | 아시아 태평양 지역의 가장 크리에이티브한 디자인 작품만을 선정하여 실은 APD의 15번째 이슈 
            tr 
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://s.godo.kr/k28e" target="_blank")
                                    img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/newsletter/202005/slam.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px; padding-top: 5px;")
                                a(href="http://s.godo.kr/k28x" target="_blank" style="text-decoration: none; color: orange;") 일러스트/애니메이션/케릭터
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px; padding: 10px 0;") 
                                a(href="http://s.godo.kr/k28e" target="_blank" style="text-decoration: none; color: #000;") PLUS／SLAM DUNK ILLUSTRATIONS 2 

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://s.godo.kr/k28e" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") 
                                    | INOUE TAKEHIKO ILLUSTRATIONS에 이은 [슬램덩크] 일러스트 130점 이상을 담은 제2탄 PLUS／SLAM DUNK ILLUSTRATIONS 2
                                    | <br>주로 일러스트 1편 이후에 그려진 것으로 작가가 선정한 스케치 등 미공개 일러스트가 담겨있습니다.  
            tr 
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://s.godo.kr/k28g" target="_blank")
                                    img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/newsletter/202005/basic.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px; padding-top: 5px;")
                                a(href="http://s.godo.kr/k290" target="_blank" style="text-decoration: none; color: orange;") 아트/예술(화집, 현대미술, 작품집)
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px; padding: 10px 0;") 
                                a(href="http://s.godo.kr/k28g" target="_blank" style="text-decoration: none; color: #000;") [Ten in One]Basic Art Series :The Impressionists 

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://s.godo.kr/k28g" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") 
                                    | Basic Art 시리즈의 10명의 인상주의 작가들의 모노그래프를 한권의 책으로 모아 출간했습니다. 
                                    | Cézanne, Degas, Gauguin, Manet, Monet, Renoir, Rousseau, Seurat, Toulouse-Lautrec, and van Gogh의 생애와 작품을 정밀하게 재현하여 소개합니다. 
            tr 
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://s.godo.kr/k28i" target="_blank")
                                    img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/newsletter/202005/monet.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px; padding-top: 5px;")
                                a(href="http://s.godo.kr/k290" target="_blank" style="text-decoration: none; color: orange;") 아트/예술(화집, 현대미술, 작품집)
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px; padding: 10px 0;") 
                                a(href="http://s.godo.kr/k28i" target="_blank" style="text-decoration: none; color: #000;") Monet 

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://s.godo.kr/k28i" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") 
                                    | Turner와 함께 캔버스에 빛 자체를 담아낸 Claude Monet (1840-1926) 만한 아티스트는 없습니다. 
                                    | 본 서적은 예술가들에게 영향력이 크며 모네 작품에 대한 완전한 정의를 제공하며, 상세한 해설과 함께 수많은 작품 이미지가 담겨있습니다. 
            tr 
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://s.godo.kr/k28k" target="_blank")
                                    img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/newsletter/202005/supreme.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px; padding-top: 5px;")
                                a(href="http://s.godo.kr/k293" target="_blank" style="text-decoration: none; color: orange;") 패션 
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px; padding: 10px 0;") 
                                a(href="http://s.godo.kr/k28k" target="_blank" style="text-decoration: none; color: #000;") Supreme 

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://s.godo.kr/k28k" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") 
                                    | 래리 클라크, 아리 마르코풀로스, 데이비드 심스와 같은 사진작가의 800개 이상의 놀라운 이미지를 담았으며,  티셔츠에서 자전거에 이르기까지 한정판 외 모든 것과 난 골딘, 꼼데가르송, 나이키 등과의 협업을 보여줍니다.
                                    | <br> 이 책에는 2010년 봄/여름 컬렉션 이후 발매된 룩북과 티셔츠 인덱스가 수록되어 있습니다.  