extends layout

block content
  div
    h3.
      디자인북 뉴스레터 
    ul
      li: a(href="/202005.pug") 5월 뉴스레터
      li: a(href="/202007.pug") 7월 뉴스레터
      li: a(href="/202009.pug") 9월 뉴스레터
      li: a(href="/coupon_event.pug") 쿠폰 프로모션 이벤트 
    