<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet")
    script(src="https://kit.fontawesome.com/0c12df2282.js" crossorigin="anonyymous") 
    title DesignBook Newsletter 

  body
    block content

    include components/footer 

    script(src="./js/index.js") 

